.bodyclass {
    background-color: #4f4f4f;
}


.mangoes {
    font-size: 41px;
    color: #6b8bcd;
    background-color: #000000;
    margin: 10px 0;
    text-align: center;
}
.sumtext  {
    font-size: 16px;
    font-weight: bold;
    color: #896f6f;
    margin: 10px 0;
    text-align: center;
    border: 2px solid #896f6f;
}

.hoobies  {
    font-size: 14px;
    color: #000000;
    margin: 67px 0;
    padding: 10px;
    text-align: center;
    border: 2px dotted #000000;
    
}

.age {
    font-size: 14px;
    color: #4f4f4f;
    margin: 5px 0;
    background-color: rgb(125, 123, 205);
    text-align: center;
}

.imageofdoom {
    border: 2px solid #000000;
    margin: 10px 0;
    text-align: center;
}
